In [4]:
!pip install sqlalchemy==1.3.9

Requirement already satisfied: sqlalchemy==1.3.9 in c:\users\muhammad\anaconda3\lib\site-packages (1.3.9)

In [6]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Requirement already satisfied: ipython-genutils in c:\users\muhammad\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Collecting sqlparse
  Downloading sqlparse-0.4.3-py3-none-any.whl (42 kB)
Collecting prettytable
  Downloading prettytable-3.6.0-py3-none-any.whl (27 kB)
Requirement already satisfied: six in c:\users\muhammad\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Collecting sqlalchemy>=2.0
  Downloading SQLAlchemy-2.0.5.post1-cp39-cp39-win_amd64.whl (2.0 MB)
Requirement already satisfied: ipython in c:\users\muhammad\anaconda3\lib\site-packages (from ipython-sql) (8.2.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\muhammad\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (1.1.1)
Collecting typing-extensions>=4.2.0
  Downloading typing_extensions-4.5.0-py3-none-any.whl (27 kB)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\muhammad\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.20)
Requirement already satisfied: traitlets>=5 in c:\users\muhammad\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: backcall in c:\users\muhammad\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\muhammad\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: colorama in c:\users\muhammad\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.4)
Requirement already satisfied: pickleshare in c:\users\muhammad\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: pygments>=2.4.0 in c:\users\muhammad\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: setuptools>=18.5 in c:\users\muhammad\anaconda3\lib\site-packages (from ipython->ipython-sql) (61.2.0)
Requirement already satisfied: stack-data in c:\users\muhammad\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in c:\users\muhammad\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.2)
Requirement already satisfied: jedi>=0.16 in c:\users\muhammad\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\muhammad\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\muhammad\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->ipython-sql) (0.2.5)
Requirement already satisfied: executing in c:\users\muhammad\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: pure-eval in c:\users\muhammad\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: asttokens in c:\users\muhammad\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Installing collected packages: typing-extensions, sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: typing-extensions
    Found existing installation: typing-extensions 4.1.1
    Uninstalling typing-extensions-4.1.1:
      Successfully uninstalled typing-extensions-4.1.1
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed ipython-sql-0.5.0 prettytable-3.6.0 sqlalchemy-2.0.5.post1 sqlparse-0.4.3 typing-extensions-4.5.0

In [7]:
%load_ext sql

In [8]:
import csv, sqlite3

In [9]:
con = sqlite3.connect('my_data1.db')

In [10]:
cur = con.cursor()

In [11]:
%sql sqlite:///my_data1.db

In [13]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")

df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

In [14]:
%sql select distinct Launch_site from SPACEXTBL

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]

In [17]:
%sql select * from SPACEXTBL where Launch_Site like 'CCA%' limit 5

 * sqlite:///my_data1.db
Done.

[('04-06-2010', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('08-12-2010', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('22-05-2012', '07:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('08-10-2012', '00:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('01-03-2013', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

In [18]:
%sql select sum(payload_mass__kg_) from SPACEXTBL where Booster_version = 'F9 v1.1'

 * sqlite:///my_data1.db
Done.

[(14642,)]

In [19]:
%sql select avg(payload_mass__kg_) from SPACEXTBL where Booster_Version = 'F9 v1.1'

 * sqlite:///my_data1.db
Done.

[(2928.4,)]

In [47]:
%sql select min(DATE) from SPACEXTBL where Landing__outcome = 'No attempt'

 * sqlite:///my_data1.db
(sqlite3.OperationalError) no such column: Landing__outcome
[SQL: select min(DATE) from SPACEXTBL where Landing__outcome = 'No attempt']
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [30]:
%sql select distinct Landing_Outcome from SPACEXTBL

 * sqlite:///my_data1.db
(sqlite3.OperationalError) no such column: Landing_Outcome
[SQL: select distinct Landing_Outcome from SPACEXTBL]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [52]:
%sql select Booster_Version from SPACEXTBL where landing__outcome =  'Success (drone ship)'\
and payload_mass__kg_ between 4000 and 6000

 * sqlite:///my_data1.db
(sqlite3.OperationalError) no such column: landing__outcome
[SQL: select Booster_Version from SPACEXTBL where landing__outcome = 'Success (drone ship)' and payload_mass__kg_ between 4000 and 6000]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [53]:
%sql select Mission_Outcome, count(Mission_Outcome) from SPACEXTBL group by Mission_outcome

 * sqlite:///my_data1.db
Done.

[('Failure (in flight)', 1),
 ('Success', 98),
 ('Success ', 1),
 ('Success (payload status unclear)', 1)]

In [55]:
%sql select Booster_Version, Payload_mass__kg_ from SPACEXTBL \
where Payload_mass__kg_ = (select max(Payload_mass__kg_) from SPACEXTBL)

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4', 15600),
 ('F9 B5 B1049.4', 15600),
 ('F9 B5 B1051.3', 15600),
 ('F9 B5 B1056.4', 15600),
 ('F9 B5 B1048.5', 15600),
 ('F9 B5 B1051.4', 15600),
 ('F9 B5 B1049.5', 15600),
 ('F9 B5 B1060.2 ', 15600),
 ('F9 B5 B1058.3 ', 15600),
 ('F9 B5 B1051.6', 15600),
 ('F9 B5 B1060.3', 15600),
 ('F9 B5 B1049.7 ', 15600)]

In [ ]:
%sql select Booster_Version, Launch_Site from SPACEXTBL where Landing_Outcome = b

In [56]:
%sql select count(landing__outcome), landing__outcome from SPACEXTBL \
where DATE between '2010-06-04' and '2017-03-20' group by landing__outcome\
order by count(landing__outcome) desc

 * sqlite:///my_data1.db
(sqlite3.OperationalError) no such column: landing__outcome
[SQL: select count(landing__outcome), landing__outcome from SPACEXTBL where DATE between '2010-06-04' and '2017-03-20' group by landing__outcome order by count(landing__outcome) desc]
(Background on this error at: https://sqlalche.me/e/20/e3q8)